:80 {
    encode zstd gzip

    handle_path /binance-spot/* {
        reverse_proxy https://andicator-binance-relay.netlify.app {
            header_up Host {upstream_hostport}
            header_down Cache-Control "no-store"
            transport http {
                dial_timeout 8s
                response_header_timeout 15s
            }
        }
    }

    handle {
        root * /app/public
        file_server
    }
}
